
.image{
    float: right;
    margin: 10px;
    width: 60rem;
    height: 50rem;
    
    
}
.info p{
font-size: 30px;
text-align: center;



}
@media screen and (max-width: 960px){
    .image{
     display: none;
        
    }
    .info p{
        background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://i.imgur.com/Xjdu1Jq.jpg")
        center;
        background-size: cover;
        font-size: 20px;
        max-width: 40rem;
        
        
   
    }

}